/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap');
/*=============== VARIABLES CSS ===============*/
:root{
  --background:#0A0B0E;
  --blue-light:#84b6f4;
}
*{
  padding:0; margin:0;
  font-family: 'Jost', sans-serif;
  color:#fff;
  box-sizing: border-box;
  transition: all 0.3s ease-in;
}
body{
  background:var(--background) !important;
  padding:0; margin:0;
}
.active{
  background-color: #fff !important;
  color: #0A0B0E !important;
}
.row{margin:0 !important; padding:0 !important;}

/*CODIGO SCROLL*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    box-shadow: inset #fff;
    background: var(--blue-light);
}
::-webkit-scrollbar-track {
    background: #fff;
    box-shadow: inset #fff;
    border-radius: 0px;
}


/*================    HEADER    =================*/
.header .navbar{padding:10px 20px 10px 0;}
.header ul.navbar-nav {
  flex-direction: row;
}
.header .navbar-nav .nav-link {
  padding:0 8px;
  color: #fff;
}
.header .navbar-brand img{
  width: 65px;
}
.header .nav-link:hover{
  color: #84b6f4;
}

.buttons-mode{
  display: flex;
  align-items: center;
}
.buttons-mode .dark-mode{cursor: pointer;}

.buttons-mode a i{font-size:18px; color: #fff; margin:0 8px;}
.dropdown{display: none;}


/*====================   HOME  ========================*/
.home{padding: 80px; background: #131416 !important;}

.home .col-6{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home .img-photo{
  width:350px; height: 350px;
  
  position: relative;
  overflow: hidden;
  animation:animate_after 8s ease-in-out infinite;
}
.home .img-photo img{
  position: relative;
  z-index:10;
  width: 99%;
}
.home .img-photo:before{
  position: absolute;
  content: "";
  inset:0;
  width:100%; height:100%;
  background-color: #84b6f4;
  z-index: 9;
  animation:animat_before 8s ease-in-out infinite;
}
.home .img-photo:after{
  position: absolute;
  content: "";
  inset:0;
  z-index:5;
  width:100%; height:100%;
  background-color: #fff;
  animation:animat_after 8s ease-in-out infinite;
}
/*ANIMATION*/
@keyframes animate_before{
  0%{border-radius: 42% 58% 35% 65% / 30% 30% 70% 70% ;}
  50%{border-radius: 75% 25% 52% 48% / 51% 47% 53% 49% ;}
  100%{border-radius: 42% 58% 35% 65% / 30% 30% 70% 70% ;}
}
@keyframes animate_after{
  0%{border-radius:75% 25% 52% 48% / 51% 47% 53% 49% ;}
  50%{border-radius:42% 58% 35% 65% / 30% 30% 70% 70%  ;}
  100%{border-radius:75% 25% 52% 48% / 51% 47% 53% 49%   ;}
}

/**/
.home .container-photo{
  align-items: center;
}


.home span{font-size: 20px;}
.home .h1 {font-size: 50px; letter-spacing: 2px;}
.home .h1 span{ font-size:50px; font-weight: 300;}

.home .button{margin-top:30px;}
.home .button a, .about .button a, .contact .button-contact{
  text-decoration: none;
  padding:8px 15px;
  font-weight: 500;
  font-size: 17px;
  border-radius:3px;
}
.home .button .button-hire, .about .button a, .contact .button-contact{
  background-color: #84b6f4;
  color:#fff;
  margin-right:20px;
}
.home .button .button-contact{
  color: #84b6f4;
  border:1px solid #84b6f4;
}
/*==================  ABOUT ME  ================*/
.about{
  padding:60px 0 50px;
}
.about hr{opacity:1;}
.about span{color: var(--blue-light);}
.about .h2{font-weight: 400;}
.about .p{font-weight: 300;}

.about .container-buttons, .about .redes{
  display:flex;
  align-items: center;
  margin-top:20px;
}
.about .redes hr{width:80px;}
.about .redes{margin-left:40px;}
.about .redes a{padding:0 9px;}

.about .p a{text-decoration: none; color: var(--blue-light);}

.about img{
  width: 400px;
}

/*==================   QUALIFICATION  ======================*/
.qualification{
  padding:70px 0 60px; background: #131416 !important;
}
.qualification .col-6{padding:0 25px;}
.qualification .title, .skills .title, .works .title, .contact .title{ display: flex; align-items: center; flex-direction: column; margin-bottom:50px;}
.qualification .title span, .skills .title span, .works .title span, .contact .title span{ color: var(--blue-light);}

.qualification .h3{
  display: flex;
  justify-content: center;
  font-size: 23px; font-weight: 300;
}
.qualification .h4{
  display: flex;
  justify-content: space-between;
  font-size: 23px; font-weight: 400;
  margin:20px 0 25px;
  letter-spacing: 2px;
}
.qualification .h4 span{
  font-size: 18px; font-weight: 400;
}

/*==================   SKILLS  ======================*/
.skills{padding:60px 0 50px;}
.skills img{
  width: 80px; 
}
.skills .col-2{display: flex; justify-content: center; align-items: center; margin:20px 0;}

/*==================   WORKS  ======================*/
.works{padding:70px 0 60px; background:#131416;}

.works .card .card-title, .works hr{
  color: #fff;
  letter-spacing: 1.5px;
}

.works .col-4{margin:0px 0 35px;}

.works .card{
  width:19.7rem;
  background-color: var(--background);
}

.works .card span{
  font-size: 12px; font-weight: 300;
  padding:4px 8px;
  border-radius: 100px;
  background-color: #2c2d30;
}
.works .card-text{
  font-size: 15px;
}

/*==================   CONTACT ME  ======================*/

.contact{
  padding:50px 0 40px;
}
.contact .row .col-12{display: flex; justify-content: space-around;}
.contact i{color: var(--blue-light); font-size: 19px; margin-right:15px;}
.contact .icon{display: flex; margin-bottom:40px;}
.contact a{color: #cecece; text-decoration: none;}
.contact a:hover{color: var(--blue-light); text-decoration: none;}


/*=============== FOOTER ===============*/
.footer{background:#131416;padding:20px 0 5px;}
.footer .container{
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: 300;
}


/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
  .navbar-none{display: none !important;}
  .dropdown{display: block;}

  /*HOME*/
  .home{padding:50px 0;}
  .home .row{flex-direction: column-reverse;}
  .home .row .col-6{width: 100%;}
  .home .personal-info{padding-top:30px;}

  /*ABOUT*/
  .about .col-7, .abput .col-5{width:100%;}
  .about .character{padding-top:30px;}

  /*QUALIFICATION*/
  .qualification .col-6{width: 100%; padding-bottom:20px;}

  /*WORKS*/
  .works .col-4{width: 50%;}

}

/* For medium devices */
@media screen and (max-width: 768px) {
  .skills .col-2{width:25%;}

  /*WORKS*/
  .works .col-4{width: 100%; display: flex; justify-content: center;}

  /*CONTACT*/
  .contact .col-5, .contact .col-7{width: 100%;}
  .contact .col-5 {
    display: flex;
    flex-direction: row;
    /* align-content: normal; */
    flex-wrap: wrap;
}
  .contact .icons{width: 50%; justify-content: center;}
}

/* For small devices */
@media screen and (max-width: 450px) {
  .about .redes {
    margin-left: 0px;
}
.home .h1 {font-size: 40px; letter-spacing: 1px;}
.home .h1 span{ font-size:40px; }
}


@media screen and (max-width: 380px) {
}